<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	<link rel="stylesheet" href="..\static\main.css">
    <link rel="stylesheet" href="..\static\sample.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('login') }}" novalidate>
            {{ form.csrf_token }}
            <label for="email">{{ form.email.label }}</label>
            {{ form.email(size=32) }}

            <label for="password">{{ form.password.label }}</label>
            {{ form.password(size=32) }}

            {{ form.submit }}
        </form>
    </div>
</body>
</html>
